<div class="body-root sendTab" id="app" v-cloak="">
    <div class="qrCodeScanningContainer native" id="nativeCameraPreview">
        <h2 class="text">{{ $t("sendPage.qrCodeScanning.explication") }}</h2>
        <div @click="stopScan()" class="close">
            <i aria-hidden="true" class="fa fa-close"></i>
        </div>
    </div>

    <div id="appContent">
        <div class="body-header">
            <div class="header-title">
                <i aria-hidden="true" class="fa fa-level-up"></i> {{ $t("sendPage.title") }}
            </div>
        </div>
        <div class="body-content">

            <div class="panel-balance">

                <div class="body">

                    <div class="header-title">{{ $t("accountPage.balanceBlock.title") }}</div>

                    <div class="content">
                        <span class="walletAmount">{{ $n(walletAmount / currencyDivider) }} QWC</span>
                        <span class="btcValue" v-if="geckoCurrentPrice.market_data != null">
                            {{ (geckoCurrentPrice.market_data.current_price.btc) * (walletAmount / currencyDivider) | satoshis}}
                            <span class="currency-positive"
                                  v-if="geckoCurrentPrice.market_data.price_change_percentage_24h_in_currency.btc > 0">(+{{ $n(geckoCurrentPrice.market_data.price_change_percentage_24h_in_currency.btc) }} %)</span>
                            <span class="currency-negative"
                                  v-if="geckoCurrentPrice.market_data.price_change_percentage_24h_in_currency.btc < 0">({{ $n(geckoCurrentPrice.market_data.price_change_percentage_24h_in_currency.btc) }} %)</span>
                        </span>
                        <span class="USDValue" v-if="geckoCurrentPrice.market_data != null">
                            <span v-for="(value, key) in geckoCurrentPrice.market_data.current_price"
                                  v-if="key == currency">
                                {{ (value) * (walletAmount / currencyDivider) | fiat(currency) }}
                                <span v-for="(value, key) in geckoCurrentPrice.market_data.price_change_percentage_24h_in_currency"
                                      v-if="key == currency">
                                    <span class="currency-positive" v-if="value > 0">( +{{$n(value)}} %)</span>
                                    <span class="currency-negative" v-if="value < 0">( {{$n(value)}} %)</span>
                                </span>
                            </span>
					    </span>
                        <template class="amount unlocked" v-if="unlockedWalletAmount !== walletAmount">
                            <br/>{{ $t("accountPage.balanceBlock.unlocked") }}: <span
                                class="walletAmount">{{ $n(unlockedWalletAmount / currencyDivider) }} QWC</span>
                        </template>
                    </div>

                </div>

            </div>

            <div class="panel">
                <div class="body">
                    <div class="field checkbox toggle">
                        <input name="public" type="checkbox" v-model="useCountryCurrency">
                        <label>{{ $t("sendPage.sendBlock.useCountryCurrency") }}</label>
                    </div>

                    <div class="field action">
                        <label>{{ $t("sendPage.sendBlock.address.label") }}</label>
                        <div class="subfield">
                            <input :class="{ twoActions: nfcAvailable}" :readonly="lockedForm"
                                   type="text"
                                   v-bind:placeholder="$t('sendPage.sendBlock.address.placeholder')" v-model="destinationAddressUser"/>
                            <span @click="startScan()" class="action"><i aria-hidden="true"
                                                                         class="scanButton fa fa-camera"></i></span>
                            <span @click="startNfcScan()" class="action" v-if="nfcAvailable"><i
                                    aria-hidden="true" class="scanButton fa fa-rss"></i></span>
                        </div>

                        <div class="message error" v-if="!destinationAddressValid && destinationAddressUser != ''">
                            {{ $t("sendPage.sendBlock.address.invalid") }}
                        </div>
                        <div class="message" v-if="domainAliasAddress !== null">
                            <b>{{ $t("sendPage.sendBlock.address.fundsTo") }}: </b> {{destinationAddress}}
                        </div>
                        <div class="message" v-if="txDestinationName !== null">
                            <b>{{ $t("sendPage.sendBlock.address.fundsTo") }}: </b>{{txDestinationName}}
                        </div>
                        <div class="message" v-if="txDescription !== null">
                            <b>{{ $t("sendPage.sendBlock.address.description") }}: </b>{{txDescription}}
                        </div>
                    </div>


                    <div class="field">
                        <label>{{ $t("sendPage.sendBlock.amount.label") }}</label>
                        <input :readonly="lockedForm" class="amountInput" placeholder="" type="text"
                               v-model="amountToSend"/>
                        <div class="message error" v-if="!amountToSendValid && amountToSend != ''">
                            {{ $t("sendPage.sendBlock.amount.invalid") }}
                        </div>
                    </div>

                    <div class="field">
                        <label>{{ $t("sendPage.sendBlock.paymentId.label") }}</label>
                        <input :readonly="lockedForm" class="amountInput" placeholder="" type="text"
                               v-model="paymentId"/>
                        <div class="message error" v-if="!paymentIdValid && paymentId != ''">
                            {{ $t("sendPage.sendBlock.paymentId.invalid") }}
                        </div>
                    </div>

                    <div class="actions tc">
                        <button :disabled="!destinationAddressValid || !amountToSendValid" @click="send()" class="btn primary"
                                type="button">{{
                            $t("sendPage.sendBlock.sendButton") }}
                        </button>
                    </div>
                    <div class="actions tc" v-if="lockedForm">
                        <button @click="reset()" class="btn small" type="button">{{
                            $t("sendPage.sendBlock.cancelButton") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div :class="(qrScanning ? '' : 'hidden')" class="qrCodeScanningContainer">
            <div @click="stopScan()" class="close">
                <i aria-hidden="true" class="fa fa-close"></i>
            </div>
            <h2>{{ $t("sendPage.qrCodeScanning.explication") }}</h2>
            <div class="videoContainer">
                <video autoplay id="cameraVideoFluxForDelivery" width="100"></video>
            </div>
        </div>
    </div>
</div>
